body{
    margin:0;
    width:100%;
    background: rgb(221, 208, 218);
}

header, .navbar, footer{
    background: #a596a5;
}

.navbar-nav a{
    color:black;
    margin-bottom: 10px;
    padding:3px;
}

section{
    margin-top: 50px;;
}

.carrossel{
    margin-left: 100px;
    padding-bottom: 40px;
}

.iframeLancamento{
    width: 100%;
    height: 100%;
}

.lancamento{
    margin-top: 120px;
}

.textoLancamento{
    margin-left:400px;
    margin-bottom: 50px;
}

.main, .imagemNovidades, .imagemDestaque, .entrevistaDoFilme{
    width: 100%;
    height: 100%;
}

.lupa{
    margin-right: 10px;
}

.form-control{
    color:red;
    background: #a596a5;
    border-color: black;
    
}
.grid_cor1{
    margin-left: 100px;;
}

.logo, .logoFooter{
    width: 100px;
    padding: 5px;
}
.testeLancamento{
    width: 100%;
    background: blue;
}




.card{
    border:none;
    background: none;
}




.botoesNovidades{
    size:10px;
    border-radius: 15px;
    padding:5px;
}

.textoEditorial{
    margin-left: 10px;
}


.imagemNovidades{
    width:100%;
}

.entrevistaDoFilme{
    height: 100%;
}
.maisFilmes{
    margin-left: 960px;
    margin-top: 30px;
}

.destaque{
    margin-top: 50px;
}

.dropdown-toggle{
    border-color: black;
    width: 100%;
    background: rgb(221, 208, 218);
}

.dropdown{
    background-color: none;
    width: 200px;
    margin-left: 280px;

}

.redesSociais{
    margin-left:620px;
}

.footer {
    background: #c5b4c5;
    color: black;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    margin-top:50px;
    padding: 2px;
}


.footer p{
    margin: 0 auto;
}

.sobre{
    
}

@media screen and (max-width:768px){
    .dropdown{
        margin-left: 75px;
        margin-bottom: 10px;
        margin-top: 10px;
        height:50px;
    } 

    .maisFilmes{
        margin-left: 90px;
        margin-top: 10px;
    }
    .avaliacoes{
        margin: 0px;
        margin-bottom: 60px;
    }

    .textoDestaque{
        font-size:30px;
        margin-left:90px;
    }
    .textoAvaliacoes{
        margin-bottom: 30px;
        margin-left: 20px;
    }
    

    .textoMaking{
        font-size:30px;
        margin-left:30px;
        margin-bottom: 20px;
    }

    .cards{
        padding-left: 2px;
        margin-left: 1px;
        
    }

    .footer{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .logo{
       width:40px;
    }

    .logoFooter{
        margin-left: 300px;
        width: 70px;
    }

    .textoLancamento{
        margin-left: 60px;
        margin-top: 50px;
        margin-bottom: 10px;
    }


    .carrossel{
        margin-left:5px;
        padding-left:10px;
        padding-right:20px;
        
        
    }

    .iframeLancamento{
        margin-bottom: 10px;
        width:100%;
        background-color:blue;
    }
    .carousel{
        padding: 20px; 
        margin: 2px;
        margin-right: 20px; 
    }

    .novidades{
        padding:10px;
    }

    .sobre{
        margin-top:30px;
    }

    .icones{
        margin-left: 1px;
    }
    

    @media screen and (min-width:769px) and (max-width: 800px){
        
        .textoLancamento{
            margin-left: 100px;
           color:blue;
        }

    }


}

