.logo, .logoFooter{
    width: 100px;
    padding: 5px;
}

body{
    width:100%;
    height:100%;
    background: rgb(221, 208, 218);
}

header, .navbar, footer{
    background: #a596a5;
}

header{
    position:fixed;
    top:0;
    padding:0;
    width:100%;
    z-index:999;
}

#main{
    width: 100%;
    margin-right:0px;
    padding:20px;
}

.lupa{
    margin-right: 10px;
}

#botaoepesquisa{
    color: black;
    border-color: rgb(221, 208, 218);
    border-radius:5px;
    padding:5px;
}
#nome{
    color: rgb(114, 4, 4)
}
#cardFilme, #cardFilmePesquisa{
    background-color: rgb(221, 208, 218);
    border-color: rgb(95, 33, 81);
    border-radius: 10px;
    width: 30rem;
}

#cardFilmePesquisa{
    padding:30px;
}

.textoDestaque{
    text-align:center;
    margin-top:120px;
    font-size: 50px;
}

p{
    font-size:20px;
    color:black;
}

card{
    background-color: rgb(221, 208, 218);
}

#divIframe{
    margin-top: 140px; 
    margin-bottom:30px;
}


#tituloFilme{
    color:rgb(114, 4, 4);
    font-size: 25px;
    align-items:center;
}

h5{
    font-weight: bold;
}

.footer {
    background: #c5b4c5;
    color: black;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    margin-top:50px;
    padding: 2px;
}

@media screen and (max-width:768px){
    #divIframe{
        margin-top: 250px;
        margin-left: 0px;
        width: 100%;
    }
    #imgFilme{
        width: 100%;
        height:100%;
        margin-left: 0px;
    }

    #cardFilme, #cardFilmePesquisa{
        width: 20rem;
        margin-left: 10px;
    }
}
@media screen and (min-width: 992px) and (max-width:1440px){

    #cardFilme{
        width: 20rem;
        padding:2px;
    }
}