body{
    width:100%;
    background: rgb(221, 208, 218);
}

header, .navbar, footer{
    background: #a596a5;
}
header{
    position:fixed;
    top:0;
    padding:0;
    width:100%;
    z-index:999;
}
.navbar{
    margin-top:0;
}

.navbar-nav a{
    color:black;
    margin-bottom: 10px;
    padding:3px;
}

section{
    margin-top: 50px;;
}

.carrossel{
    margin-left: 100px;
    padding-bottom: 40px;
}

.iframeLancamento{
    width: 100%;
    height: 100%;
}


.lancamento{
    margin-top: 40px;
}

.textoLancamento{
    margin-top: 100px;
    margin-left:400px;
    margin-bottom: 50px;
}

.main{
    width: 100%;
    height: 100%;
}

.imagemDestaque{
    width: 100%;
    height: 400px;
}

.lupa{
    margin-right: 10px;
}

.form-control{
    color:red;
    background: #a596a5;
    border-color: black;
    
}
.grid_cor1{
    margin-left: 100px;;
}

.logo, .logoFooter{
    width: 100px;
    padding: 5px;
}

.card{
    border:none;
    background: none;
}


.destaque{
    margin-top: 50px;
}

.dropdown-toggle{
    border-color: black;
    width: 100%;
    background: rgb(221, 208, 218);
}

.dropdown{
    background-color: none;
    width: 200px;
    margin-left: 280px;

}
.maisFilmes{
    margin-left:980px;
    margin-top: 10px;
}
#link1, #link2, #link3, #link4, #link0, #linkLancamento0, #linkLancamento1,#linkLancamento2{
    padding: 3px;
}

#botaoepesquisa{
    color: black;
    border-color: rgb(221, 208, 218);
    border-radius:5px;
    padding:5px;
}

.footer {
    background: #c5b4c5;
    color: black;
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    margin-top:50px;
    padding: 2px;
}


.footer p{
    margin: 0 auto;
}


@media screen and (max-width:768px){
    .dropdown{
        margin-left: 75px;
        margin-bottom: 10px;
        margin-top: 10px;
        height:50px;
    } 

    .maisFilmes{
        margin-left: 90px;
        margin-top: 10px;
    }
   
    .textoDestaque{
        font-size:30px;
        margin-left:90px;
    }
    

    .textoMaking{
        font-size:30px;
        margin-left:30px;
        margin-bottom: 20px;
    }

    .cards{
        padding-left: 2px;
        margin-left: 1px;
        
    }

    .footer{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .logo{
       width:40px;
    }

    .logoFooter{
        margin-left: 300px;
        width: 70px;
    }

    .textoLancamento{
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .carrossel{
        margin-left:5px;
        padding-left:10px;
        padding-right:20px;
        
        
    }

    .iframeLancamento{
        margin-bottom: 10px;
        width:100%;
        background-color:blue;
    }
    .carousel{
        padding: 20px; 
        margin: 2px;
        margin-right: 20px; 
    }


    .navItens{
        margin-left:70px;
    }
    .logo{
        width:20%;
        height:30%;
    }
    header{
        position:relative;
       
    }
}
    

    @media screen and (min-width:768px) and (max-width: 992px){
        
        .textoLancamento{
            margin-top: 200px;
            margin-left:200px;
        }
       

    }
